*.\~undo-tree\~
*.class
*.jar
.\#*
.clj-kondo/.deps.edn.md5sum
.lsp
/*.iml
/.clj-kondo/.cache
/.clj-kondo/methodical/
/.cpcache
/.eastwood
/.env
/.envrc
/.idea
/.lein-deps-sum
/.lein-env
/.lein-failures
/.lein-plugins
/.lein-repl-history
/.nrepl-port
/.shadow-cljs
/build.xml
/checkouts
/classes
/classes
/config.edn
/lib
/node_modules
/package-lock.json
/pom.xml
/pom.xml.asc
/profiles.clj
/tags
/target
\#*\#
