{:deps
 {io.github.metabase/mr-worldwide       {:local/root "./mr-worldwide"}
  io.github.metabase/mr-worldwide.build {:local/root "./mr-worldwide.build"}}
 :aliases
 {:dev
  {:extra-paths ["mr-worldwide/test"
                 "mr-worldwide.build/test"]

   :extra-deps
   {clj-kondo/clj-kondo     {:mvn/version "2025.02.20"}
    io.github.metabase/hawk {:mvn/version "1.0.7"}}}

  ;; clojure -X:dev:test
  :test
  {:exec-fn mb.hawk.core/find-and-run-tests-cli}

  ;; clojure -X:test/mr-worldwide
  :test/mr-worldwide
  {:replace-deps
   {io.github.metabase/mr-worldwide {:local/root "./mr-worldwide"}
    io.github.metabase/hawk         {:mvn/version "1.0.7"}}
   :extra-paths ["mr-worldwide/test"]
   :exec-fn mb.hawk.core/find-and-run-tests-cli}

  ;; clojure -X:test/mr-worldwide.build
  :test/mr-worldwide.build
  {:replace-deps
   {io.github.metabase/mr-worldwide.build {:local/root "./mr-worldwide.build"}
    io.github.metabase/hawk               {:mvn/version "1.0.7"}}
   :extra-paths ["mr-worldwide.build/test"]
   :exec-fn mb.hawk.core/find-and-run-tests-cli}

  ;; clojure -M:kondo --lint src test
  ;;
  ;; clojure -M:kondo --version
  ;;
  ;; clojure -M:kondo --copy-configs --dependencies --lint "$(clojure -A:dev -Spath)" --skip-lint --parallel
  ;;
  ;; Run Kondo from the JVM using the pinned version. Preferable to running the installed command since we can pin the
  ;; version here which may be different from the version installed on your computer.
  ;;
  ;; Use this to only run Kondo against specific files.
  :kondo
  {:replace-deps
   {clj-kondo/clj-kondo {:mvn/version "2025.02.20"}}

   :main-opts
   ["-m" "clj-kondo.main"]}

  ;; clojure -M:kondo:kondo/all
  ;;
  ;; Like the command above but includes arguments so it lints everything.
  :kondo/all
  {:main-opts
   ["-m" "clj-kondo.main"
    "--parallel"
    ;; enable this if Kondo isn't working as expected or if LSP jump-to-definition is being fussy
    #_"--debug"
    "--lint"
    "mr-worldwide/src"
    "mr-worldwide/test"
    "mr-worldwide.build/src"
    "mr-worldwide.build/test"]}

  ;; to fix indentation in source files:
  ;;
  ;;     clj -T:cljfmt fix
  ;;
  ;; to fix errors in specific source files:
  ;;
  ;;     clj -T:cljfmt fix '{:paths ["src/metabase/query_processor/card.clj"]}'
  ;;
  ;; to check for errors without fixing them:
  ;;
  ;;    clj -T:cljfmt check
  :cljfmt
  {:deps       {io.github.weavejester/cljfmt {:git/sha "fc3340da3c8344b3fbb336d190ce696ef40e42d4"}}
   :ns-default cljfmt.tool
   :exec-fn    cljfmt.tool/fix
   :exec-args  {:paths ["mr-worldwide" "mr-worldwide.build"]}}

  ;; clojure -T:whitespace-linter
  :whitespace-linter
  {:deps       {com.github.camsaul/whitespace-linter {:sha "e35bc252ccf5cc74f7d543ef95ad8a3e5131f25b"}}
   :ns-default whitespace-linter
   :exec-fn    whitespace-linter/lint
   :exec-args  {:paths            ["./deps.edn"
                                   "./mr-worldwide"
                                   "./mr-worldwide.build"]
                :include-patterns ["\\.clj.?$"
                                   "\\.edn$"]}}}}
